{
    "tg": {
        "@bot_name": {
            "token": "bot_token",
            "users": {
                "user1": "chat_id1"
            },
            "groups": {
                "group1": "group_id1",
                "group2": "group_id2"
            }
        }
    },
    "ipam": {
        "username": "user",
        "token": "api-token"
    },
    "arbors": {
        "ipt": {
            "token": "api-token"
        },
        "ix": {
            "token": "api-token"
        },
        "postgres": {
            "username": "pgsql",
            "password": "pgsql"
        }
    },
    "IXP": {
        "URL": "url",
        "IP": "ip-addr",
        "db_username": "name",
        "db_password": "password"
    },
    "abs": {
        "IP": "ip-addr",
        "db_username": "user",
        "db_password": "password",
        "db": "db-name"
    },
    "d42": {
        "username": "user",
        "password": "password"
    }
}